header {
  background-color: white; /* Set your desired background color */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  text-align: center;
}

nav ul li {
  margin-right: 30px; /*Spacing between header items */
}

nav ul li.last-child {
  border: 1px solid #005DC2; 
  border-radius: 10px;
  padding: 5px; 
}

nav a {
  text-decoration: none;
  color: #005DC2; 
}


@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    text-align: center;
  }

  nav ul {
    flex-direction: column;
    text-align: center;
  }

  nav ul li {
    margin-bottom: 10px;
  }
}